body{
    background: linear-gradient(to bottom, #fff8ef, #ffe6f2);
    font-family: Georgia, serif;
    text-align: center;
    color: #6B1E3B;
    margin: 40px;
}

h1{
    color: #A0004D;
    font-size: 55px;
}

h2{
    color: #B8860B;
}

p{
    font-size: 22px;
}

hr{
    width: 70%;
    border: 1px solid gold;
}
body{
    border: 10px solid gold;
    border-radius: 25px;
    padding: 20px;
}
