body{
    background: linear-gradient(to bottom, #fff8ef, #ffe6f2);
    font-family: Georgia, serif;
    text-align: center;
    color: #6B1E3B;
    margin: 40px;
}

.seal{
    color: #A0004D;
    font-size: 55px;
}

h2{
    color: #B8860B;
}

p{
    font-size: 22px;
}

hr{
    width: 70%;
    border: 1px solid gold;
}
body{
    border: 10px solid gold;
    border-radius: 25px;
    padding: 20px;
}
body{
    background:
    radial-gradient(circle at top left, rgba(255,192,203,0.3), transparent 20%),
    radial-gradient(circle at top right, rgba(255,182,193,0.3), transparent 20%),
    radial-gradient(circle at bottom left, rgba(255,192,203,0.3), transparent 20%),
    radial-gradient(circle at bottom right, rgba(255,182,193,0.3), transparent 20%),
    linear-gradient(to bottom, #fff8ef, #ffe6f2);

    border: 10px solid gold;
    border-radius: 25px;
    padding: 20px;
}
h1{
    text-shadow: 2px 2px 8px gold;
}

body{
    box-shadow: 0px 0px 25px gold;
}
.seal{
    font-size: 70px;
    color: #8B004B;
    text-shadow:
        0 0 5px gold,
        0 0 15px gold,
        0 0 30px gold;
    border: 6px solid gold;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    line-height: 180px;
    margin: auto;
    background: radial-gradient(circle, #fff7cc, #d4af37);
    box-shadow: 0 0 30px gold;
}
